.ws-btn {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 10rem;
  position: relative;
  padding: .5rem 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  font-size: .7rem;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ws-btn-primary {
  background-color: green;
  border-color: green;
  color: white;
}

.ws-btn-warning {
  background-color: orange;
  border-color: orange;
  color: white;
}

.ws-btn-disabled {
  background-color: #F7F7F7;
  color: #999;
  opacity: .6;
}

.ws-btn-large {
  width: 100%;
  font-size: .9rem;
  border-radius: 0;
}

.ws-btn-small {
  display: inline-block;
  width: 4rem;
  font-size: .5rem;
  padding: .2rem 0;
}