/*
 * @Author: Rosen 
 * @Date: 2019-06-22 20:15:05 
 * @Last Modified by: Rosen 
 * @Last Modified time: 2019-06-22 20:15:05 
 */


/* 字体图标，依赖font-awesome */

@import '//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';