.ws-loading {
  padding: 1rem 0;
  text-align: center;
}

.ws-loading .ws-loading-icon {
  font-size: 4.5rem;
  color: rgba(0, 0, 0, 0.1);
}

.ws-loading .ws-loading-info {
  display: block;
  margin-top: .6rem;
  font-size: .8rem;
  color: #ccc;
}

.ws-loading-inline {
  margin: 1.5rem auto 1rem;
  width: 12.5rem;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  height: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ws-loading-inline>.ws-loading-info {
  display: inline-block;
  position: relative;
  padding: 0 .5rem;
  top: -.7rem;
  font-size: .7rem;
  height: 1rem;
  line-height: 1rem;
  background-color: #fff;
}

.ws-loading-inline>.ws-loading-info>.ws-loading-icon {
  color: rgba(0, 0, 0, 0.2);
}